* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: #e5e5e5;
}
.header {
  background: #fa8c16;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}
.header-wrapper {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  margin-left: 60px;
  margin-right: auto;
}
.header-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-menu-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  color: #fafafa;
  margin-right: 15px;
}
.input-group {
  width: 237px;
  height: 32px;
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #d9d9d9;
}
.search-input {
  height: 100%;
  width: 80%;
  border: none;
  font-size: 14px;
  line-height: 22px;
  padding-left: 12px;
}
.search-input::placeholder {
  color: #bfbfbf;
}
.search-button {
  height: 100%;
  width: 20%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
.posts {
  max-width: 800px;
}
.post {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  margin-bottom: 30px;
}
.post-body {
  padding: 35px 35px 0 35px;
}
.post-title {
  margin-bottom: 19px;
  margin-top: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.post-text {
  color: #262626;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
}
.tags {
  margin-bottom: 22px;
}
.tag {
  color: #bfbfbf;
  font-size: 14px;
  line-height: 22px;
  margin-right: 10px;
  text-decoration: none;
}
.post-footer {
  border-top: 1px solid #e8e8e8;
  background: #fafafa;
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 35px;
  padding-right: 35px;
}
.post-buttons {
  display: flex;
  align-items: center;
}
.post-button .icon {
  fill: #8c8c8c;
}
.post-button {
  background-color: transparent;
  border: none;
  color: #8c8c8c;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  margin-right: 19px;
  cursor: pointer;
}
.icon-like,
.icon-comments {
  margin-right: 7px;
}
.post-author {
  display: flex;
  align-items: center;
  text-align: right;
}
.author-avatar {
  width: 34px;
  height: 34px;
  margin-left: 9px;
  border-radius: 4px;
}
.author-username {
  display: block;
  text-decoration: none;
  color: #bcbcbc;
  font-size: 12px;
  line-height: 20px;
}
.post-time {
  color: #bfbfbf;
  font-size: 12px;
  line-height: 20px;
}
